[DistancedUI]

## Enable or disable dystem
# Setting type: Boolean
# Default value: false
Enabled = false

## Can use the marketplace?
# Setting type: Boolean
# Default value: true
CanUseMarketplace = true

## Can use the mail system?
# Setting type: Boolean
# Default value: true
CanUseMail = true

## Can take mail attachments?
# Setting type: Boolean
# Default value: false
CanTakeMailAttachments = false

## Trader profiles
# Setting type: String
# Default value: Profiles here with ,
TraderProfiles = general_store, gem_trader, skillcape_shop

## Teleporter profiles
# Setting type: String
# Default value: Profiles here with ,
TeleporterProfiles = home_teleport, spirit_tree

## Gambler profiles
# Setting type: String
# Default value: Profiles here with ,
GamblerProfiles = dice_bag, flower_poker

## Buffer profiles
# Setting type: String
# Default value: Profiles here with ,
BufferProfiles = chapel

## Banker profiles
# Setting type: String
# Default value: Profiles here with ,
BankerProfiles = bank

## Quest profiles
# Setting type: String
# Default value: Profiles here with ,
QuestProfiles = lumbridge_guide, slayer_master

## Info profiles
# Setting type: String
# Default value: Profiles here with ,
InfoProfiles = gielheim_guide

## Transmogrification profiles
# Setting type: String
# Default value: Profiles here with ,
TransmogrificationProfiles = 

## Dialogues profiles
# Setting type: String
# Default value: Profiles here with ,
Dialogues = lumbridge_guide, wise_old_man, slayer_master, banker, shopkeeper, gem_trader, gambler, chapel

