## Settings file was created by plugin SkillGainModifier v0.1.1
## Plugin GUID: jujuz1.mods.skillgainmodifier

[General]

## Enable logging
# Setting type: Boolean
# Default value: true
Logging Enabled = false

## Enable no skill drain. The default length for it is 10 minutes, and its too big of a hassle to modify to work correctly. So here is a feature to enable or disable it :)
# Setting type: Boolean
# Default value: true
No skill drain enabled = true

## Corpse run duration. The default for it is 50 seconds, here we set a default of 60 seconds
# Setting type: Single
# Default value: 60
Duration = 50

[Skill Gain]

## Multiplier for all XP gain. A factor of 2.5x is a solid default value. I mean who in the hell is reaching level 100 in any playthrough with the default of 1x?
# Setting type: Single
# Default value: 2.5
Global = 0.5

# Setting type: Single
# Default value: 0
Swords = 0

# Setting type: Single
# Default value: 0
Knives = 0

# Setting type: Single
# Default value: 0
Clubs = 0

# Setting type: Single
# Default value: 0
Polearms = 0

# Setting type: Single
# Default value: 0
Spears = 0

# Setting type: Single
# Default value: 0
Blocking = 0

# Setting type: Single
# Default value: 0
Axes = 0

# Setting type: Single
# Default value: 0
Bows = 0

# Setting type: Single
# Default value: 0
ElementalMagic = 0

# Setting type: Single
# Default value: 0
BloodMagic = 0

# Setting type: Single
# Default value: 0
Unarmed = 0

# Setting type: Single
# Default value: 0
Pickaxes = 0

# Setting type: Single
# Default value: 0
WoodCutting = 0

# Setting type: Single
# Default value: 0
Crossbows = 0

# Setting type: Single
# Default value: 0
Jump = 0

# Setting type: Single
# Default value: 0
Sneak = 0

# Setting type: Single
# Default value: 0
Run = 0

# Setting type: Single
# Default value: 0
Swim = 0

# Setting type: Single
# Default value: 0
Fishing = 1.5

# Setting type: Single
# Default value: 0
Cooking = 0

# Setting type: Single
# Default value: 0
Farming = 0

# Setting type: Single
# Default value: 0
Crafting = 0

# Setting type: Single
# Default value: 0
Dodge = 0

# Setting type: Single
# Default value: 0
Ride = 0

[Skill reduction]

## A multiplier for skill reduction when dying. RECOMMENDED VALUES: 0-0.2, see later for explanation. The default value of 0 means the skill level AND progress is not affected at all. A value of 1 signals to use the game's default world modifiers. Any value other than 0 resets skill progress! The game does the following when calculating the new level: new level = modifier * current level. Using a value above one will always set the level 0!!! So be careful with too big modifiers. The code checks that the minimum level is capped to 0 for safety
# Setting type: Single
# Default value: 0
Modifier = 0

