## Settings file was created by plugin OdinShip v0.8.1
## Plugin GUID: marlthon.OdinShip

## OSRSheim: only the keel-gated Crafting Costs are authored here. Every other
## OdinShip setting is left at its default and BepInEx writes the full file on
## first launch. Keel appended as Prefab:amount:recover, recover False.

[Big Cargo Ship]

## Item costs to craft Big Cargo Ship
# Setting type: String
# Default value: ClothShip:4:True,CaulkedWood:50:True,IronNails:150:True,ShipRope:4:True
Crafting Costs = ClothShip:4:True,CaulkedWood:50:True,IronNails:150:True,ShipRope:4:True,OSRS_KeelModer:1:False

[Cargo Ship]

## Item costs to craft Cargo Ship
# Setting type: String
# Default value: ClothShip:4:True,ResinWood:40:True,IronNails:100:True,ShipRope:2:True
Crafting Costs = ClothShip:4:True,ResinWood:40:True,IronNails:100:True,ShipRope:2:True,OSRS_KeelBonemass:1:False

[Double rowing canoe]

## Item costs to craft Double rowing canoe
# Setting type: String
# Default value: Resin:10:True,Wood:25:True
Crafting Costs = Resin:10:True,Wood:25:True,OSRS_KeelEikthyr:1:False

[Little Boat]

## Item costs to craft Little Boat
# Setting type: String
# Default value: LeatherScraps:8:True,Wood:40:True
Crafting Costs = LeatherScraps:8:True,Wood:40:True,OSRS_KeelEikthyr:1:False

[Merchants boat]

## Item costs to craft Merchants boat
# Setting type: String
# Default value: ClothShip:4:True,ResinWood:40:True,IronNails:100:True,ShipRope:2:True
Crafting Costs = ClothShip:4:True,ResinWood:40:True,IronNails:100:True,ShipRope:2:True,OSRS_KeelElder:1:False

[Rowing canoe]

## Item costs to craft Rowing canoe
# Setting type: String
# Default value: Resin:8:True,Wood:20:True
Crafting Costs = Resin:8:True,Wood:20:True,OSRS_KeelEikthyr:1:False

[War Ship]

## Item costs to craft War Ship
# Setting type: String
# Default value: ClothShip:4:True,CaulkedWood:50:True,IronNails:120:True,ShipRope:2:True
Crafting Costs = ClothShip:4:True,CaulkedWood:50:True,IronNails:120:True,OSRS_KeelYagluth:1:False,OSRS_KeelQueen:1:False
